.gallerysection{
	text-align: center;
}

.mediumpic{
	width: 250px;
	margin-top: 10px;
}

#container{
	margin: 0 auto;
	text-align: center;
	width: 1500px;
	height: 1000px;
	border-radius: 10px;
	background-color: lavender;
	
}

.delpic{
	position: absolute;
  	cursor: pointer;
  	top: 5px;
  	right: 5px;
}

.displaypic{
	float: left;
	  position: relative;
	  top: 0;
	  left: 0;
	  margin-left: 10px;
}