#container{
	margin: 0 auto;
	text-align: left;
	width: 95%;
	height: 95%;
	border-radius: 10px;
	background-color:  rgb(233, 233, 247);
	
}

#contentheader{
	font-size: 20px;
	background-color:#B0A6B9;
	color: white;
	text-align: center;
	margin-top: 3%;
}

#main{
	width: 100%;
	text-align: center;
}

.likeComment{
	text-align: left;
}

.comment{
	text-align: left;
}

form{
	text-align: left;
}
.page{
	background-color:  rgb(233, 233, 247);
	text-align: center;
}

.gallerysection{
	text-align: center;
}

.mediumpic{
	width: 250px;
	margin-top: 10px;
}

.delpic{
	position: absolute;
  	cursor: pointer;
  	top: 5px;
  	right: 5px;
}

.name{
	text-align: left;
	font-size: 20px;
	font-style: italic;
	margin-top: 2px;
	margin-bottom: 2px;
    color:#a77272;
    text-shadow: 1px 1px 0px white;
}

.displaypic{
	float: left;
	  position: relative;
	  width: 30%;
	  text-align: center;
	  top: 0;
	  left: 0;
	  margin-left: 35%;
	  margin-right: 35%;
	  margin-top: 2%;
	  margin-bottom: 3%;
	  border: 10px solid #a77272;

}

.displaypic div{
	color: #a77272;
}

.img{
	/* position: absolute; */
	width: 100%;
	
}

#footer{
	clear: both;
	width: 100%;
	color: black;
	font-style: italic;
	font-size: 18px;
}

hr{
	border: 1px solid  #B0A6B9;
}

@media screen and (max-width: 990px){
	.displaypic{
		  width: 50%;
		  margin-left: 25%;
		  margin-right: 25%;
	}
}

@media screen and (max-width: 660px){
	.displaypic{
		  width: 60%;
		  margin-left: 20%;
		  margin-right: 20%;
	}
}

